// =========================================
// Abstracts, setup of everything
// =========================================
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/breakpoints';
@import 'abstracts/grid-framework';
@import 'abstracts/grid';


// =========================================
// Setup base and aligning
// =========================================
@import 'base/reboot';
@import 'base/typography';
@import 'base/utilities';
@import 'base/animations';
@import 'base/fixes';
@import 'base/grid';

// =========================================
// Setup grid and overall layout
// =========================================
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/page-404';

// =========================================
// Setup all components
// =========================================
@import 'components/main-navigation';
@import 'components/mobile-navigation';
@import 'components/hero-image';
@import 'components/buttons';
@import 'components/breadcrumb';
@import 'components/wysiwyg';
@import 'components/lists';
@import 'components/text-fields';
@import 'components/custom_gravity-form';

// =========================================
// Seperate blocks
// =========================================
@import 'blocks/example';
@import 'blocks/greeting';
@import 'blocks/text-wrapper';
@import 'blocks/video-wrapper';
@import 'blocks/hex-swiper';
@import 'blocks/hexagon-grid';

// =========================================
// CSS for templates / pages
// =========================================
@import 'pages/contact-page';

/*
=========================================

Remove the following later!!

=========================================
*/

header, footer {
    background-color: #232323;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}

main {
    min-height: 80vh;
}