.text-decoration {
  &-underline {
    text-decoration: underline;
  }

  &-none {
    text-decoration: none;
  }

  &-dashed {
    text-decoration: dashed;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: end;
  }
}

.d {

  &-flex {
    display: flex;
  }

  &-block {
    display: block;
  }

  &-none {
    display: none;
  }
}
