%btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 10px;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;

  svg {
    height: 1rem;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn {
  @extend %btn;
}

.btn-primary {
  @extend %btn;
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: $full-white;

  &:hover {
    background-color: $primary-color;
    color: $full-white;
  }
}

.btn-outline {
  @extend %btn;
  color: $btn-bg-primary;
  border: solid 1px $btn-bg-primary;

  &:hover {
    color: $btn-text-color;
    background-color: $btn-bg-primary-hover;
  }
}
