.text-wrapper {
  background-color: $white;
  position: relative;
  border-radius: 10px 100px;
  filter: drop-shadow(-2px 10px 8px rgba(61, 61, 61, .15));

  &-title-wrapper {
    background-color: $full-white;
    border-radius: 0 0 25px 25px;
    width: fit-content;
    max-width: 65%;
    padding: 0 20px;
    margin-left: 20px;
    transform: translateY(-1px);

    &__reduce-title-height {
      margin-top: -1rem;
    }

    h2 {
      margin: 0;
      transform: translateY(-1rem);
    }
  }

  &-description {
    padding: 30px 80px 30px;
    border-radius: 5px;

    &-info {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 15px;
    }
  }
}

hr {
  position: relative;
  width: 300px;
  margin: 10px auto;
}

.meetingroom {

  &-wrapper {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;

    h3 {
      display: block;
      transition: 300ms;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0%;
        transform: translateX(-50%);
        width: 0%;
        height: 1px;
        background-color: $primary-color;
        transition: 300ms;
      }
    }

    &:hover {
      cursor: pointer;

      h3 {
        color: $navigation-link-active-color;
        transform: scale(1.1);
        left: 0;

        &::after {
          width: 28%;
          left: 14%;
        }
      }
    }
  }

  &-title {}

  &-people-counter {
    display: flex;
    align-items: center;
    justify-content: start;
    color: $grey-3;
    gap: 8px;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      display: block;
    }

    .people_count_text {
      text-align: center;
      margin: 0;
    }
  }

}

.meetingroom-section {
  .text-wrapper-title-wrapper {
    border-radius: 10px;
    margin-left: 25px;

    h2 {
      transform: translateY(0);
    }
  }

}

#meetingroom-popup-wrapper {

  // Functionality of the popup
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 100vw #00000090;
  overscroll-behavior: contain;

  .meetingroom-popup-content {

    // Popup styling: 
    position: relative;
    background-color: $white;
    width: 50vw;
    height: 95vh;
    border-radius: 10px;

    .close-popup-wrapper {
      position: absolute;
      top: 20px;
      right: 60px;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background-color: $full-white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        display: block;
      }
    }
  }
}

@media (max-width: 765px) {
  #meetingroom-popup-wrapper {
    width: 100vw;
    height: 100vh;
    
    .meetingroom-popup-content {
      width: 100vw;
      height: 100vh;
      overflow: auto;
      
      ul {

        li {

          padding-left: 2rem;
        }
      }

      .swiper-navigation-buttons {
        display: none;
      }

      .meetingroom-short-info {
        top:22%;
      }
    }
  }
}

@media (max-width: 576px) {
#meetingroom-popup-wrapper {
    width: 100vw;
    height: 100vh;
    
    .meetingroom-popup-content {
      
      .meetingroom-point-list {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
      }
    }
  }
}

.popup-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 40px;
  height: 60px;
  max-width: 160px;
  border-radius: 10px;
  background-color: $full-white;

  h2 {
    margin: 0;
    color: $primary-color;
    font-weight: 500;
  }
}

.meetingroom-swiper-wrapper {
  height: 25vh;
  display: block;
}

.meetingroomSwiper,
.verticle_image_swiper,
.hexagon-swiper {
  width: 100%;
  padding: 40px 0;

}


.meetingroomSwiper {
  position: relative;
  margin-top: 40px;

  .swiper-navigation-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 69%;
    height: 5em;
    z-index: 999999;
    pointer-events: none;


    .swiper-button-prev,
    .swiper-button-next {
      pointer-events: all;
      background-color: $transparent-white;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 25px;
      color: $primary-color;

      &::after {
        font-size: 16px;
      }

    }
  }

  .swiper-slide {
    // width: auto;
    max-width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    $imageSize: 430px;

    .meetingroomSwiper-image-wrapper {
      width: 100%;
    }

    img {
      width: 100%;
      height: $imageSize;
      max-height: 50vh;
      border-radius: 12px;
      object-fit: cover;
      box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
      transition: 300ms;
    }


    &.swiper-slide-prev,
    &.swiper-slide-next {
      img {
        height: calc($imageSize * .6);
        opacity: .5;
      }
    }
  }
}

.meetingroom-blocks-wrapper {
  padding: 0 100px;
}

.meetingroom-short-info {
  position: relative;
  top: 27%;
  left: 10%;
  width: 80%;

  &-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-bottom: 10px;
    max-width: 140px;
    height: 45px;
    border-radius: 10px;
    background-color: $full-white;

    h3 {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }



  .meetingroom-point-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;

    li {
      margin-bottom: 0;
    }

  }

  .meetingroom-point-list>li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .meetingroom-point-list>li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .meetingroom-point-list>li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .meetingroom-point-list>li:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .meetingroom-point-list>li:nth-child(5) {
    grid-column: 2;
    grid-row: 1;
  }

  .meetingroom-point-list>li:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
  }

  .meetingroom-point-list>li:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .meetingroom-point-list>li:nth-child(8) {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (max-width:768px) {
  .meetingroom-blocks-wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 560px) {
  .text-wrapper-description {
    padding: 50px 20px 30px;
  }
  
.text-wrapper{
  
  &-title-wrapper {
  padding-top: 50px; 
}
}
}