// =========
// Colors
// =========

$primary-color: #db6221;
$primary-color-hover: #ea5b11;
$bright-primary: #e59164;



// =========
// Standard colors
// =========
$grey-1: #3d3d3d;
$grey-2: #616161;
$grey-2-blur: #61616133;
$grey-3: #878787;

$transparant: #00000000;
$black: #000;
$white: #fafafa;
$transparent-white: #fafafae5;
$full-white: #fff;

$body-bg: #fff;
$body-color: $grey-1;
$heading-color: $black;

// =========
// Button colors
// =========

$btn-bg-primary: $primary-color;
$btn-bg-primary-hover: $primary-color-hover;
$btn-text-color: $white;

// =========
// Header navigation
// =========
$navigation-bg: #fff;
$navigation-link-color: $black;
$navigation-link-active-color: $black;

// =========
// Typography
// =========
$font-family-primary: 'Agdasima', Helvetica, Arial, Sans-Serif, serif;
$font-family-headings: 'Oswald', sans-serif;

$font-size-base: 22px;
$line-height-base: 1.35;
$font-weight-base: 400;
$heading-font-weight: 400;
