// =========
// Colors
// =========

$primary-color: #db6221;
$primary-color-hover: #ea5b11;
$bright-primary: #e59164;



// =========
// Standard colors
// =========
$grey-1: #3d3d3d;
$grey-2: #616161;

$transparant: rgba(0, 0, 0, 0);

$black: #000;
$white: #fafafa;

$body-bg: #fff;
$body-color: $grey-1;
$heading-color: $black;

// =========
// Button colors
// =========

$btn-bg-primary: $primary-color;
$btn-bg-primary-hover: $primary-color-hover;
$btn-text-color: $white;

// =========
// Header navigation
// =========
$navigation-bg: #fff;
$navigation-link-color: $primary-color;
$navigation-link-active-color: $bright-primary;

// =========
// Typography
// =========
$font-family-primary: 'Roboto', Helvetica, Arial, Sans-Serif, serif;
$font-family-headings: 'Oswald', sans-serif;


$font-size-base: 18px;
$line-height-base: 1.35;
$font-weight-base: 400;
$heading-font-weight: 700;
