// =========
// Colors
// =========

$primary-color: #3168af;
$primary-color-hover: #0d4691;
$bright-primary: #4591f5;
$transparant: rgba(0, 0, 0, 0);



// =========
// Standard colors
// =========
$grey-1: #555;
$grey-2: #efefef;
$grey-3: #bdbdbd;

$black: #1b1b1b;
$white: #fff;

$body-bg: #f0f0f0;
$body-color: $grey-1;
$heading-color: $black;

// =========
// Button colors
// =========

$btn-bg-primary: $primary-color;
$btn-bg-primary-hover: $primary-color-hover;
$btn-text-color: $white;

// =========
// Header navigation
// =========
$navigation-bg: #fff;
$navigation-link-color: $primary-color;
$navigation-link-active-color: $bright-primary;

// =========
// Typography
// =========
$font-family-primary: 'Roboto', Helvetica, Arial, Sans-Serif, serif;
$font-family-headings: 'Oswald', sans-serif;

$font-size-base: 18px;
$line-height-base: 1.35;
$font-weight-base: 400;
$heading-font-weight: 700;
